* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: plus jakarta sans;

}
/* Css para el header */
header {
    background-color: #306bb3;
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style:none;
    text-align: center;

}

header>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 120px;
    margin: 20px;
    line-height: 80px;
}
.colorletter{
    color:white;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;

}
#colorbutton
{
    display: block;
        width: 80px;
        height: 40px;
        background-color: white;
        border-radius: 10px;
        color: #306bb3;
        text-decoration: none;
        border-color:#306bb3;
        font-weight: bolder;
        margin: 20px 20px;
      
       
}

/* Css para el main */

main {
    display: flex;
    flex-direction: row;
 
}

section {
    display:flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

}
.d1{
    
    height: 33%;
    width:100%;
    display: table;
    /*background-color: aqua;*/

}
#p1 {
    font-weight:bolder;
    font-size: 16px;
    line-height: 121.2%;
    color: black;
    display: table-cell;
    margin: 0;
    padding: 0 5rem;
    vertical-align: bottom;
    
}
#h2 {
    color: black;
    display:table-cell;
    margin: 0;
    padding: 0 5rem;
    vertical-align: middle;
    font-weight: bolder;
    font-size: 40px;
    line-height: 121.2%;
    text-transform: uppercase;    
}
#p2{
    color: #1A202C;
    display:table-cell;
    margin: 0;
    padding: 0 5rem;
    vertical-align: middle;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    align-items: center;
    letter-spacing: -0.02em;

}
.list1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    text-decoration: none;
    list-style: none;
    color: #1A202C;
    font-weight: bold;
}
#imagenprincipal{
    display:table-cell;
    margin: 100px;
    padding: 5 5rem;
    vertical-align: middle;
}


/* Css para el footer */

footer{
    padding: 5% 2%;

    display: flex;
    flex-direction: row;
    background-color: #306bb3;
    height: 40vh;
    width: 100vw;
    justify-content: space-around;
    color: white;
    text-decoration: none;
}

#primerdivf{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

#logo{
    width: 150px;
    height: 55px;
    margin: 5%;

}
#primerdivf>p{
    width: 70%;
    height: 15%;
}
#primerdivf>ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 30px;
    padding: 30px;
}